@import url('fonts.css');
body {
    background: #212121;
    color: #fff
}
.header {
    padding: 20px;
    position: sticky;
    top: 0;
}
.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    flex: 1 1 auto;

}
h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.header_img {
    display: block;
    height: 45px;
    width: 57px;
}